 .menu
 {  
     background-color:Silver;
     border-spacing:10px;
     padding-left:4cm;
     padding-top : 8px;
     padding-bottom:8px;
     width:100%;
     height:25px;
     font-family:Times New Roman;
     font-size:x-large;
     margin-left:0cm;
     margin-top:0%;
     border-spacing:150px;
     float:right;
     caption-side:inherit;      
     
}
.submenu
{
    padding-left:4cm;
    padding-top:8px;
    margin-left:2cm;
}
  .member
  {
      padding-left:4cm;
      padding-top:8px;
      margin-left:30px;
  }  
.submenus
{
  background-color:#191970;
  padding-left:4cm;
  padding-top  : 8px;
  font-family:Times New Roman;
  margin-left:0cm;
  font-size:medium;
  
  }  
.header
{
    background-color:transparent;
    margin-left:3cm;
    font-size:1.5cm;
    margin-top:-2.1cm;
    height:2.1cm;
    color:Navy;
}
.headers
{
    background-color:transparent;
    margin-left:30cm;
    margin-top:-4.1cm;
    height:2.28cm;
}
    
.header3
 {
     margin-left:29cm;
     margin-top:0cm;
     height:2.28cm;
 }
.footer
{

    margin-left:0cm;
    margin-top : 10cm;
    background-color:#191970;
    padding-left:4cm;
    padding-top   : 8px;
    width:100%;
    height:40px;
    font-family:Times New Roman;
    font-size:medium;
    
    }
    
    .login1
    {
        margin-left:23cm;
        margin-top:-8cm;
    }
     
     .login2
     {
         margin-left:28cm;
         margin-top:3cm;
     }   